* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regular;
}

body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

/* Color Variables */
:root {
  --bg: #0c111b;
  --dark: #141414;
  --white: #fff;
  --primary: #0B1118;
  --secondary: #0C8CE9;
}

/* font variables */
@font-face {
  font-family: thin-font;
  src: url(./font/Poppins-Thin.otf);
}

@font-face {
  font-family: regular;
  src: url(./font/Poppins-Regular.otf);
}

@font-face {
  font-family: medium-font;
  src: url(./font/Poppins-Medium.otf);
}

@font-face {
  font-family: semibold;
  src: url(./font/Poppins-SemiBold.otf);
}

@font-face {
  font-family: bold-font;
  src: url(./font/Poppins-Bold.otf);
}

@font-face {
  font-family: extrabold;
  src: url(./font/Poppins-ExtraBold.otf);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active
{
  outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    background-color: transparent !important;
}

button:focus{
  box-shadow: none !important;
}